:root {
    --challenge-width: 80vh;
}

table.challenge-table {
    width: min(100%, var(--challenge-width));
    border-collapse: collapse;
}
.challenge-table td, .challenge-table th {
    position: relative;
    border: 1px solid lightslategrey;
    padding: 0;
}
.challenge-table thead tr:first-of-type th, .challenge-table tbody tr:first-of-type th, .challenge-table tbody tr:first-of-type td {
    border-top: 1px solid black;
}
.challenge-table tbody tr:last-of-type th, .challenge-table tbody tr:last-of-type td {
    border-bottom: 1px solid black;
}
.challenge-table tr th:first-of-type, .challenge-table tr td:first-of-type {
    border-left: 1px solid black;
}
.challenge-table tr td:last-of-type, .challenge-table tr th:last-of-type, .challenge-table thead tr:first-of-type th:first-of-type {
    border-right: 1px solid black;
}
.challenge-table td::after, .challenge-table th::after {
    content: '';
    display: block;
    width: 100%;
    margin-top: 100%;
}
td .challenge-cell, th .challenge-cell {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    border-width: 0;
}
.show-cleared-challenge td .cleared-challenge {
    background-color: orange;
}
.show-cleared-challenge td .now-challenging {
    background-color: red;
}
td .unchallengeable {
    background-color: darkgray;
}
.challenge-color {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.show-cleared-challenge .cleared-challenge .challenge-color, .show-cleared-challenge .now-challenging .challenge-color {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}
.challenge-cell .challenge-tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    width: 18ch;
    bottom: 130%;
    left: 50%;
    margin-left: -9ch;

    position: absolute;
    z-index: 2;
}
.challenge-cell:hover .challenge-tooltip {
    visibility: visible;
}
.challenge-colorbar {
    position: relative;
    height: 20px;
    width: min(100%, var(--challenge-width));
    background: linear-gradient(90deg, #00ff00, #11ff52, #23ff9b, #34ffda, #46eeff, #57c2ff, #699fff, #7a86ff, #a18cff, #ca9dff, #e9afff, #ffc0ff);
}
.hide-challenge-color .challenge-color, .hide-challenge-color .challenge-colorbar {
    visibility: hidden;
}
#gabought .btn-sm {
    padding: 0.25rem;
}
@media screen and (max-width: 700px) {
    td .challenge-cell, th .challenge-cell {
        font-size: small;
    }
    #controlButtons .btn {
        padding: .25rem .25rem;
        font-size: .725rem;
    }
}
.tooltip-cell {
    position: relative;
}
.tooltip-cell .up-tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;

    width: 28ch;
    bottom: 115%;
    left: 50%;
    margin-left: -14ch;

    position: absolute;
    z-index: 1;
}
.tooltip-cell:hover .up-tooltip {
    visibility: visible;
}